// Apple Distribution International
host-suffix, apple.com, direct
host-suffix, icloud-content.com, direct
host-suffix, icloud.com, direct
host-suffix, mzstatic.com, direct
host-suffix, cdn-apple.com, direct

// Tencent Technology (Shenzhen) Company Limited
host-suffix, wechat.com, direct
ip-asn, 132203, direct

geoip, cn, direct
