; suffix
host-suffix, binance.com, Magic
host-suffix, binance.me, Magic
host-suffix, google.com, Magic
host-suffix, telegra.ph, Magic
host-suffix, twimg.com, Magic
host-suffix, twitter.com, Magic
host-suffix, v2ex.com, Magic
host-suffix, wikipedia.org, Magic
